
rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    /**
     * Helper function to check if the authenticated user has a specific role.
     */
    function userHasRole(roleName) {
      let userDocPath = /databases/$(database)/documents/technicians/$(request.auth.uid);
      let userDoc = get(userDocPath);
      return isSignedIn() && userDoc.data != null && userDoc.data.roleId != null &&
        get(/databases/$(database)/documents/roles/$(userDoc.data.roleId)).data.name == roleName;
    }

    function isAdmin() {
      return isSignedIn() && (request.auth.token.email == 'admin@crawford-company.com' || userHasRole('Administrator'));
    }

    /**
     * @description Secures all files related to work orders.
     */
    match /work-orders/{workOrderId}/{allPaths=**} {
      allow read, write: if isSignedIn();
    }
    
    /**
     * @description Secures signature files.
     */
    match /signatures/{allPaths=**} {
      allow read, write: if isSignedIn();
    }

    /**
     * @description Secures quote-related media.
     * Allows all authenticated users to upload and view quote attachments.
     */
    match /quotes/{quoteId}/{allPaths=**} {
      allow read, write: if isSignedIn();
    }
  }
}
